*{
    margin: 0;
    padding: 0;
}


@-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  .slide-out-top {
	-webkit-animation: slide-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}   
@-webkit-keyframes slide-out-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
  }
  @keyframes slide-out-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
  }
  
  


  .logholder{
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

*{
    margin: 0;
    padding: 0;

}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

html{
    background-color: #090014;
    overflow-x: hidden;
}
#main{
        -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

body{
    height: 100vh;
    width: 100%;
    background-image: url(img/blur.png);
    background-repeat: no-repeat;
    background-size: 400px;
}

.ops{
    margin-top: 2em;
    display: flex;
    justify-content: center;

}


.try{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;    
    padding-right: 1em;    
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    font-family: 'Poppins';
    cursor: pointer;
    transition: background-color 0.4s ease-in-out;
    min-width: 150px;

}

.try:hover{
    background-color: white;
    color: #090014;
}

@media screen and (min-width: 800px) {

    nav{
        padding:  2em 2em 0em  2em;
        display: flex;
        justify-content: space-between;

    }
    .join{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        border : 1px solid white;
        transition: background-color 0.4s ease-in;

    }
    .join:hover{
        background-color: white;
        color: #090014;
    }
    
    .links ul{
        display: flex;
        gap: 2em;
        color: white;
        font-family: 'Poppins';
    
    }
    .links ul li{
        padding : 0.5em 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: 0.85rem;
    
    }
    .top{
        display: flex;
        align-items: center;
        height: 95vh;
        justify-content: center;
    }
    .imholder{
        width: 45%;
    }

    .miholder{
        display: flex;
        justify-content: center;
        text-align: center;
        height: 80vh;
        align-items: center;


    }

    .mid{
        font-family: 'poppins';
        color: white;
        font-weight: 200;
        max-width: 800px;
        width: 100%;
        margin-bottom: 2em;

    }

    .middle{
        display: flex;
        height: 95vh;
        margin-top: 2em;
        width: 100%;
        justify-content: center;
    }
    .middle .imholder{
        width: 70%;
    }
    .tit{
        text-align: center;
        font-family: 'ROBOTO';
        font-weight: 800;
        font-size: 1.5rem;
        margin-bottom: 2em;
    }
    footer{
        display: flex;
        justify-content: center;
        margin-bottom: 2em;
        border-top: 1px solid rgb(219, 219, 219);
    }
    .pc{
        display: flex;
    }
    .mob{
        display: none;
    }

   

    
   
   }

@media screen and (max-width: 800px) {

   
    .top{
        display: flex;
        justify-content: center;
        width: max-content;
        max-width: 100vw;
    }
    .top .imholder{
        margin-top: 4em;
        width:100%;
        padding: 0.5em;

    }

    .middle{
        display: flex;
        margin-top: 2em;
        width: 100%;
        justify-content: center;
    }
    .middle .imholder{
        width: 100%;
        padding: 0.5em;

    }
    .miholder{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 1em;


    }

    .mid{
        font-family: 'poppins';
        color: white;
        font-weight: 200;
        width: 100%;
        margin-bottom: 2em;

    }
    .tit{
        text-align: center;
        font-family: 'ROBOTO';
        font-weight: 800;
        font-size: 1.5rem;
        margin-bottom: 2em;
    }

    footer{
        display: flex;
        margin-bottom: 2em;
        border-top: 1px solid rgb(219, 219, 219);
        width: 100%;
    }
    footer img{
        width: 100%;
    }
    .pc{
        display: none;
    }
    .middle .mob{
        padding: 1em;
    }
    .mob{
        display: block;
    }


   

    
   
   }
